*{  
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
.header{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../new-year-deal/resources/Banner\ Image.png');
    max-width: 1300px;
    height: 600px;
    margin: 50px auto 120px auto;
    background-repeat: no-repeat;
    border-radius: 16px;

}
.banner-h4{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    padding: 177px 530px 16px 530px;

}
.banner-h1{
    color: #FFF;
    text-align: center;
    font-size: 54px;
    line-height: 95px; /* 131.944% */
    padding: 0 344px 177px 344px;
}


.container{
    background: #FFF;
    text-align: center;
    
}
.offer-percentage{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto 20px auto;
}
.holiday-deal{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto 20px auto;
}
.category{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
.new-photo{
    margin-bottom: 120px;
}




.welcome{
    background-image:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../new-year-deal/resources/Vectorrr.png');
    
    background-color: #070211, #07021100;
    max-width: 1300px;
    height: 600px;
    margin: 50px auto 120px auto;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    
}

#midnight{
    color: #FFF;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;
    padding: 126px 512px 24px 126px;
}
#midnight-para{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 697px;
    line-height: 30px; /* 166.667% */
    padding: 0 497px 48px 126px;
}
.btn-primary{
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 1059px 142px 158px;
    border-radius: 5px;
    background-color: black;
    
}
#twenty-four{
  
    position: absolute;
    margin: 68px 138px 67px 862px;
    
}

.place{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    max-width: 1300px;
    height: 350px;
    margin: 50px auto 5px auto;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;

    
}
.place-hotel{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    margin-bottom: 20px;
}
.black{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.btn-secondary{
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding:12px 24px;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}






.coming{
    display: flex;
    background: #FFF;
    max-width: 1300px;
    height: 600px;
    margin: 100px auto 0 auto;
    text-align: center;
    width: 1600px;
 
}


#new-best-offer{
    color: #FF0000;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 54px 305px 25px 0px;
}

.coming-soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 20px 0px 25px 0px;
    text-align: left;
}

#dolor{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    text-align: left;
    margin: 0 50px 54px 0;
    height: 128px;
    width: 393px;
}
.ellipse{
    margin: 0px 30px 0px 0px;
    padding-left: 0;
}

#year{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}

.nacho{
    text-align: left;
    margin-top: 62px;
    margin-bottom: 16px;
    margin-left: 40px;
}
#jj{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    
}
.dolor-two{
    text-align: left;
    
    margin-bottom: 16px;
    margin-left: 40px;
}

#happy-img{
    text-align: left;
    
    margin-bottom: 16px;
    margin-left: 40px;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}
.bg-color{
    padding-top: 100px;
}
/* item section*/



.best-gift{
    
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}


.containerr{
   
    max-width: 1300px;
    height: 600px;
    margin: 0 auto 0 auto;
   
    
}

.tata{
    padding-bottom: 16px;
}

.awesome-text{
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.small-par-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-right: 504px;
}

.item-img {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;

}

.img-parts {
    margin-right: 30px;
}

.jhakanaka:hover {
    cursor: pointer;
    box-shadow: 15px 15px 60px;
    border-radius: 16px;
}

.sub-section{
    max-width: 1300px;
    height: 600px;
    margin: 550px auto 0 auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

#bye{
    margin-top: 80px;
    margin-bottom: 22px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}
.news{
    margin-bottom: 22px;
}
.sub-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin: 0 212px 48px 212px;
}

.subscribe form {
    margin-top: 48px;
    display: flex;
    padding: 0 336px;
}

#email {
    padding: 25px;
    width: 88%;
    max-width: 450px;
    border: none;
    font-size: 18px;
    border-radius: 50px 0 0 50px;
}

#subscribe {
    padding: 25px;
    border: none;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
    background-color: #F00;
    color: #FFF;
}

#subscribe:hover {
    background-color:  cyan;
    cursor: pointer;
}

.tail{
    
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    display: flex;
    justify-content: space-between;
   
}
footer{
    background: #070211;
}

.phone, .address {
    margin-top: 120px;
    
}
.address{
    
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    padding-left: 140px;
    padding-right: 559px;
    height: 80px;
    width: 375px;

}

.hori {
    margin-top: 50px;
}

.horr {
    border: 3px solid rgba(255, 255, 255, 0.15);
}
.phone-call{
    display: flex;
    padding-right: 275px;
  
}
.kk{
    padding-right: 5px;
}
.phone-web-text{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.styling:hover {
    cursor: pointer;
    box-shadow: 15px 15px 60px;
    border-radius: 16px;
}
.last-text {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 140px;
}

.last-part {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 120px;
}
.un{
    padding-right: 140px;
}

.ellipse {
   
    width: 400px;
    height: 400px;
    flex-shrink: 0;
  
    display: flex;
    justify-content: center;
    
    border: 16px solid #F00;
    border-radius: 350px;
}
.ellipse img {
    width: 80%;
    margin: auto;
    display: block;

}
